* {
  font-size: inherit;
  font-family: inherit;
  box-sizing: border-box;
}

html {
  font-size: calc(1em + 1vw);
  font-family: sans-serif;

  @media (pointer:coarse) and (max-width: 767px) {
    font-size: calc(1.1em + 1vw);
  }
}

body {
  max-width: 24em;
  margin: 0 auto;

  @media (pointer:coarse) and (max-width: 767px) {
    padding: 0 .5em;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 1.2em;
}

@media (pointer:coarse) and (max-width: 767px) {
  h1 {
    margin: .4em 0;
  }

  h2 {
    margin: .6em 0;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#app {
  padding-bottom: 5em;
}

.empty-state,
ul:empty {
  display: none;
}

ul:empty~.empty-state {
  display: block;
  font-size: .9em;
}

.visible-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.item {
  display: flex;
  align-items: center;
  
  &__label {
    flex: 2;
    margin-left: .6em;
    margin-right: .4em;
    font-size: .9em;
    padding: .3em;
    border-radius: .1em;
  }
  
  & + .item {
    margin-top: .55em;
  }
  
  &__box {
    width: 1em;
    height: 1em;
    border-radius: .2em;
    background-color: white;
    border: .1em solid #000;
    cursor: pointer;
    z-index: 1;
  }
}

.item__input:checked + .item__box {
  background-color: #000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z' fill='%23fff'/%3E%3C/svg%3E");
  background-position: center;
  background-size: 100%;
}

.item__input:checked ~ .item__label {
  text-decoration: line-through;
}

.btn {
  background: #000000;
  color: #ffffff;
  padding: .3em .6em;
  border: .1em solid #000;
  cursor: pointer;
  font-size: .9em;
  border-radius: .2em;
}

.btn[disabled] {
  opacity: 0.50;
  cursor: auto;
}

.s-btn {
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  background: 0;
  border-radius: .05em;
  font-size: 1.3em;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: white;
  background-position: center;
  background-size: 100%;
  cursor: pointer;
}

.item__delete .icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
}

.s-btn:focus,
.item:hover .s-btn,
.item.editing .s-btn {
  height: 1em;
  width: 1em;
}

[tabindex="-1"]:focus {
  outline: none;
}

.btn:not(.new-item__btn):focus,
.item__input:focus + .item__box,
.item__label:focus,
.s-btn:focus {
  outline: none;
  box-shadow: 0 0 0 .1em #2A7FFF;
}

.new-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  &__label {
    position: absolute;
    color: #575757;
    font-style: italic;
    font-size: .9em;
    padding: .3em;
    padding-bottom: 0;
    margin-top: .3em;
    margin-left: .3em;
    background-color: white;
    transform: translateY(-2.2em);
    z-index: -1;
    top: 2.2em;
    transition: transform 100ms cubic-bezier(.4, 0, .2, 1);
  }

  &__input {
    position: relative;
    border: .1em solid #000;
    border-radius: .2em;
    line-height: 1.2;
    min-height: 1.2em;
    width: 100%;
    padding: .3em;

    @media (pointer:coarse) and (max-width: 767px) {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &__input:focus + &__label,
  &__input:not(:empty) + &__label {
    transform: scale(.8) translate(-.5em, -4.2em);
    z-index: 3;
  }

  &__btn {
    display: none;

    @media (pointer:coarse) and (max-width: 767px) {
      display: block;
      width: 100%;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }

  @media (pointer:coarse) and (max-width: 767px) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: calc(100% - 1em);
    margin: .5em;
    background-color: #fff;
    z-index: 2;
  }
}